*.pth filter=lfs diff=lfs merge=lfs -text
Creates filter=lfs diff=lfs merge=lfs -text
(you filter=lfs diff=lfs merge=lfs -text
have filter=lfs diff=lfs merge=lfs -text
it) filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
